.contact{
    /* background-color: red; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form{
    background-color: #e4f1f1;
    padding: 50px;
    border-radius: 25px;
    border: 1px solid #aaa;
    box-shadow: 0 0 10px #aaa;
    width: 500px;
    /* height: 500px; */
    transition: all 1s;
}